.nav {
  background:#0747A6;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.switcher-message {
  padding: 20px;
  font-style: italic;
}

.switcher-trigger {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 24px;
}

.switcher-destroy {
  font-size: 14px;
  margin: 10px;
}

.switcher-container {
  position: fixed;
  background: #fff;
  top: 50px;
  right: 12px;
  width: 360px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 8px;
  display: none;
  margin: 5px;
  vertical-align: top;
  box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}
